# .env file
SERVER_NAME="GamingAPI Sandbox server"
NATS_AUTHENTICATION_URL="nats://localhost:4222"
NATS_AUTHENTICATION="-----BEGIN NATS USER JWT-----\nUASDHKZ3OMUMGDHSR2VGWAH7G5GO7BNERFTLI2BXKF6NY5TWR6KAJDYM\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSDSAVM4NEM4N2OVJAO5V2NBMMYFLDU3WT4D7JSMSDAR5TBRWOBQPRM3CY4\n------END USER NKEY SEED------\n"